<!-- Bill In and Qr -->



<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
  />
  <span>Billing software</span>
    <div class="spacer"></div>
</div>

<div class="content" role="main">
  <h1 id="name">HACKUPC</h1>
  <button *ngIf="!products[0]" (click)="newRow()">New Bill</button>

  <div *ngIf="!!products[0]">  
    <table>
      <thead>
        <th>Product name</th>
        <th>Product quantity</th>
        <th>Product price</th>
      </thead>
      <tbody>
        <tr *ngFor="let pr of products">
          <td>
            <input type="text" [(ngModel)]="pr.name">
          </td>
          <td>
            <input type="text" [(ngModel)]="pr.quantity">
          </td>
          <td>
            <input type="text" [(ngModel)]="pr.price" (focusout)="newRow()">
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <button *ngIf="!!products[0]" (click)="billIt()">Finished</button>
  <ngx-kjua *ngIf="!!billJson" [text]="billJson"></ngx-kjua>
</div>



