<ion-header>
  <ion-navbar>
    <ion-title id="orange">
      <img id="billit" data-orientation="landscape" src="../../assets/imgs/Text_logo_tr.PNG" class="iconic" alt="image" />
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <button *ngIf="!scannedCode" id="billbutton" ion-button full icon-left (click)="scanCode()" color="secondary">
    <img id="logobutton" data-orientation="landscape" src="../../assets/imgs/Scan_logo.png" class="iconic" alt="image" />
  </button>

    

  <ion-card *ngIf="scannedCode">
    <ion-card-content id="bill">
      {{niceString}}
    </ion-card-content>
  </ion-card>

  <button *ngIf="scannedCode" id="backButton" ion-button full icon-left (click)="backButton()" color="secondary">
      <img id="backbuttonimg" data-orientation="landscape" src="../../assets/imgs/Back_logo.png" class="iconic" alt="image" />
  </button>

</ion-content>