<ion-header>
    <ion-navbar>
      <ion-title id="orange">
        <img id="billit" data-orientation="landscape" src="../../assets/imgs/Text_logo_tr.PNG" class="iconic" alt="image" />
      </ion-title>
    </ion-navbar>
  </ion-header>


<ion-content *ngIf="!!invoices[0]"> 
    <ion-card *ngFor="let inv of invoices" (click)="cardTouch(inv)">
      <ion-card-content id="felso"> {{inv.company.name}} </ion-card-content>
      <ion-card-content id="kozepso"> {{inv.company.addres}} </ion-card-content>
      <ion-card-content id="also"> {{inv.company.tax}} </ion-card-content>
      <ion-card-content id="kozepso" *ngFor="let pr of inv.products"> {{pr.name}} {{pr.quantity}} {{pr.price}}</ion-card-content>
      <ion-card-content id="felso"> {{inv.other.date}} </ion-card-content>
      <ion-card-content id="also"> {{inv.other.docnumber}} </ion-card-content>
    </ion-card>
  </ion-content>